@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700;800&family=Lato:wght@400;700&family=Noto+Sans+Mono&family=Oswald&family=Roboto+Serif:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: auto;
  background-image: linear-gradient(#1ea9fe, #6801b4);
  font-family: "Epilogue", sans-serif;
  overflow-x: hidden;
}

section {
  height: 100vh;
  width: 100%;
}
.logo img {
  height: 120px;
  width: 120px;
}
.main_name {
  font-size: 116px;
  font-weight: bolder;
  font-family: Epilogue;
  color: whitesmoke;
}

.tagline {
  font-size: 76px;
  font-weight: bold;
  font-family: Epilogue;
  background: linear-gradient(#141e30, #0a3f7a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.description {
  font-size: 18px;
  font-weight: medium;
  font-family: Epilogue;
  color: rgb(221, 219, 219);
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 100px;
}

.middleSection {
  position: relative;
}

.launching {
  position: absolute;
  bottom: 0;
  right: 150px;
  font-size: 50px;
  font-weight: 600;
  font-family: Epilogue;
  color: white;
}

.lastPart {
  width: 80%;
  margin-top: 250px;
  margin-bottom: 70px;
  font-size: 40px;
  color: white;
  font-weight: 700;
}

.emailContainer {
  background-color: white;
  width: 50%;
  height: 60px;
  border-radius: 10px;
}
.emailContainer input {
  width: 100%;
  height: 100%;
  outline: none;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid white;
  padding-left: 15px;
  padding: 15px;
}

.emailContainer button {
  width: 30%;
  height: 100%;
  color: white;
  background-color: black;
  padding-top: 2px;
  border: none;
  font-weight: 600;
  font-family: Epilogue;
  font-size: 18px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.notify {
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 30px;
  background-color: black;
  color: white;
  font-size: 25px;
  outline: none;
  border: none;
  font-weight: 600;
  font-family: Epilogue;
  margin-top: 10px;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
}
.notify:hover {
  color: white;
}

.checkboxLine {
  color: rgb(207, 206, 205);
  font-size: 16px;
  font-weight: 500;
  font-family: Epilogue;
}

.connectLine {
  font-size: 18px;
  color: #c6bcbc;
  margin-bottom: 50px;
}

.entreprenuer {
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  background-color: black;
  color: white;
  font-size: 25px;
  outline: none;
  border: none;
  font-weight: 600;
  font-family: Epilogue;
  margin-top: 0px;
  border-radius: 10px;
  text-decoration: none;
}

.investor {
  padding-left: 12rem;
  padding-right: 12rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #fdc500;
  color: black;
  font-size: 25px;
  outline: none;
  border: none;
  font-weight: 600;
  font-family: Epilogue;
  border-radius: 10px;
  text-decoration: none;
}

.linkedin {
  width: 100px;
  height: 100px;
}

@media (max-width: 760px) {
  /* … */
  body {
    padding: 20px;
    overflow-x: hidden;
  }
  .main_name {
    font-size: 64px;
  }
  .tagline {
    font-size: 32px;
    color: white;
  }
  .description {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .image img {
    width: 90%;
  }
  .glass img {
    width: 90%;
  }
  .launching {
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 26px;
  }
  .lastPart {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 70px;
    font-size: 24px;
    color: white;
    font-weight: 700;
  }
  .connectLine {
    font-size: 18px;
    color: #c6bcbc;
    margin-bottom: 100px;
  }
  .emailContainer {
    background-color: white;
    width: 90%;
    height: 50px;
    border: none;
  }
  .entreprenuer {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
    font-size: 16px;
  }
  .investor {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 16px;
  }
  .notify {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    font-size: 16px;
    cursor: pointer;
  }
}
